.App {
  text-align: center;
}

#left_eye{
  position: absolute;
  left: 100px;
  top: 100px;
}

#right_eye{
  position: absolute;
  left: 300px;
  top: 100px;
}

#left_eye-lid{
  position: absolute;
  left: 0px;
}

#right_eye-lid{
  position: absolute;
  left: 0px;
  width: 125px;
}

